h1{
    color: deeppink;
    font-size: 60px;
}

h2 {color: hotpink;}
h3,h4{color: darkmagenta;}
p{color: lightcoral;}
a{color: violet;}
a,h1,h2,p,h3,h4,li{ text-align: center;}

img{
    width: 300px;
object-fit: cover;
}

body{background-color:#FFF0F6;
font-family: fantasy;
}

.pictures{
    display: flex;
    justify-content: space-evenly;
    background-color: #ffdef3;
}
